<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaanga Pesalaam</title>
    <script>
        const PORT = "<%= port %>"; 
        const HOST = "<%= host %>"; 
    </script>
    <script defer src="<%= host %>:<%= port %>/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="chat-container">
        <div id="message-container" class="messages"></div>
        <form id="send-container" class="message-input-container">
            <input type="text" id="message-input" placeholder="Enter your message" class="message-input">
            <button type="submit" class="send-btn">Send</button>
        </form>
        <div id="typing" class="typing-indicator"></div>
    </div>
</body>
</html>
